.edu{
position: absolute;
width: 490px;
height: 147px;
left: 145px;
top: 1731px;

font-family: 'Ramaraja';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
text-align: center;
color: #000000;
}

.grid-container4{
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 300px 300px;
    margin-left: 50px;
    margin-top:200px;
}
.education{
    width: 200px;

}
